@import '../../static/style/var';

.weatherDetail {
	background-color: $blue-night;
	width: 23.5rem;

	&__spinner {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		padding-top: px-to-rem(52);
		padding-left: px-to-rem(54);
	}
}
